 <section>
     <header ng-if="$ctrl.header===true">
         <!-- <nav class="main-nav">
            <image id="menuIcon" src="./images/menu.png">
            <ul>
                <li class="link"><a ui-sref="home" id="home-link"  ng-class='{"activeLink":$ctrl.link["home"]===true}' ng-click="$ctrl.clicked('home')">Home</a></li>
                <li class="link"><a ui-sref="projects" id="projects-link" ng-class='{"activeLink":$ctrl.link["projects"]===true}' ng-click="$ctrl.clicked('projects')">Projects</a></li>
                 <li class="link"><a ui-sref="bio" id="bio-link" ng-class='{"activeLink":$ctrl.link["bio"]===true}' ng-click="$ctrl.clicked('bio')">About Mugsy</a></li> 
                 <li class="link"><a ui-sref="resume" id="resume-link"  ng-class='{"activeLink":$ctrl.link["resume"]===true}' ng-click="$ctrl.clicked('resume')">Resume</a></li>
                 <li class="link"><a ui-sref="contact" id="contact-link"  ng-class='{"activeLink":$ctrl.link["contact"]===true}' ng-click="$ctrl.clicked('contact')">contact</a></li>  
            </ul>
        </nav> -->
    </header>  
  
    <!-- <div class="hero" ng-style="{'background-image':'url(./images/sahale-glacier.png)'}"> -->
    <div class = "jumbotron" ng-style="{'background-color': $ctrl.activeColor}">
        <div id="title-block">
        <h1 id="title" class="tagline">Mugsy Carter</h1>
        <h3 id="subtitle">Web Developer</h3>
        </div>

        <div id="menu-block">
            <!-- <div id="menu-row"> -->
            <div class="section-block" id="projects-block" ng-if="$ctrl.link.projects===false" ng-click="$ctrl.clicked('projects')">
                <a ui-sref="projects">
                    <h1 class='section-label' id='projects-section-label'>
                        Projects
                    </h1>
                </a>
            </div>
            <div class="section-block" id="bio-block" ng-if="$ctrl.link.bio===false" ng-click="$ctrl.clicked('bio')">
                <a ui-sref="bio">
                    <h1 class='section-label' id='bio-section-label'>
                        About Mugsy
                    </h1>
                </a>
            <!-- </div> -->
            </div>
        
            <!-- <div id="menu-row"> -->
            <div class="section-block" id="resume-block" ng-if="$ctrl.link.home===false" ng-click="$ctrl.clicked('home')">
                <a ui-sref="home">
                    <h1 class='section-label' id='resume-section-label'>
                        Resume
                    </h1>
                </a>
            </div>
            <div class="section-block" id="contact-block" ng-if="$ctrl.link.contact===false" ng-click="$ctrl.clicked('contact')">
                <a ui-sref="contact">
                    <h1 class='section-label' id='contact-section-label'>
                        Contact
                    </h1>
                </a>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <div class="main-content">
        <ui-view></ui-view>
    </div>



  </section>