<section>
    <div ng-if="$ctrl.location==='home'">
        <div class='title-holder'>
            <h1 class="title">Mugsy Carter, Web Developer</h1>
        </div>

        <div class="section-block" id="projects-block">
            <a ui-sref="projects">
                <h1 class='section-label' id='projects-section-label'>
                    Projects
                </h1>
            </a>
        </div>

        <div class="section-block" id="bio-block">
            <a ui-sref="bio">
                <h1 class='section-label' id='bio-section-label'>
                    About Mugsy
                </h1>
            </a>
        </div>

        <div class="section-block" id="resume-block">
            <a ui-sref="resume">
                <h1 class='section-label' id='resume-section-label'>
                    Resume
                </h1>
            </a>
        </div>
    
        <div class="section-block" id="contact-block">
            <a ui-sref="contact">
                <h1 class='section-label' id='contact-section-label'>
                    Contact
                </h1>
            </a>
        </div>
    </div>
</section>