<section>
    <div id="contact-section" ng-if="$ctrl.location==='contact'">
        <h1 class="title">
            Contact Mugsy
        </h1>
        <div class="bio-section">
            <image class="bio-image" title="MugsyCarter" src='./images/mugsy.png'/>
            <h1 class="subtitle">Section</h1>
            <p class="section-text">Section text goes here</p>
        </div>

        <div class="bio-section">
            <image class="bio-image" title="MugsyCarter" src='./images/mugsy.png'/>
            <h1 class="subtitle">Section</h1>
            <p class="section-text">Section text goes here</p>
        </div>
    </div>
</section>