button {
  margin: 1vw;
  font-weight: 700;
  border: none;
  color: white;
  background-color: #012a36;
  padding: 1% 3%;
  border-radius: 1vh; }

button:active {
  background-color: #0a0908;
  cursor: pointer; }

button:hover {
  background-color: #FF9438;
  color: #012a36;
  cursor: pointer;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

* {
  font-family: 'Voltaire', sans-serif;
  text-align: center;
  color: #012a36;
  box-sizing: border-box; }

a {
  text-decoration: none;
  padding: 1vw; }
  a:hover {
    cursor: pointer;
    color: #012a36;
    font-size: 20vh; }

td, th {
  padding: none;
  margin: none; }

.main-nav {
  top: 0vh;
  max-height: 5vw; }

.link {
  top: 0vh;
  display: inline-block;
  color: #012a36;
  padding: 0 5vw 0 5vw;
  max-height: 8vh; }

.active-link {
  color: #8CC5D8; }

.hero {
  color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 25%;
  z-index: 1;
  height: 25vh; }

#title {
  font-family: 'Voltaire', sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black; }

#subtitle {
  font-family: 'Voltaire', sans-serif;
  color: #FFF;
  font-size: 1.75em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black;
  margin-left: 5em; }

.branding {
  font-family: 'Voltaire', sans-serif;
  color: #FFF;
  font-size: 1.75em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black; }

.section-block {
  position: absolute;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  z-index: -1;
  margin: 1vh 0vh 1vh 1vh;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .section-block:hover {
    background: #011e27;
    color: black;
    width: 12vw;
    height: 12vw; }

.active-section {
  width: 12vw;
  height: 12vw; }

.section-label {
  font-size: 4vh;
  color: #F3F7F0;
  position: relative; }

#projects-block {
  background-color: #FF9438;
  border-radius: 0 100% 0 0;
  bottom: 13vw;
  left: 70.5vw; }
  #projects-block:hover {
    background: #ff861f; }

#projects-section-label {
  color: #012a36;
  padding-top: 15vh; }

#bio-block {
  background-color: #012a36;
  bottom: 13vw;
  right: 30vw;
  border-radius: 100% 0 0 0; }
  #bio-block:hover {
    background: #01171d; }

#bio-section-label {
  color: #F3F7F0;
  padding-top: 15vh; }

#resume-block {
  background-color: #083D77;
  border-radius: 0 0 100% 0;
  top: 15vw;
  left: 70.5vw; }
  #resume-block:hover {
    background: #06315f; }

#resume-section-label {
  color: #F3F7F0; }

#contact-block {
  background-color: #8CC5D8;
  border-radius: 0 0 0 100%;
  top: 15vw;
  right: 30vw; }
  #contact-block:hover {
    background: #79bbd2;
    width: 12vw;
    height: 12vw; }

#contact-section-label {
  color: #012a36; }

.featured-project {
  width: 80vw;
  box-shadow: 1vw 0.1vw 1vw #888888;
  margin: 0vw 10vw; }

.featured-project-image {
  width: 60vw;
  height: 30vw; }

.project-text {
  text-align: left;
  margin: 1.5 vh; }

ul {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none; }

li {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 20px;
  background: #012a36;
  transition: all 2.5s ease; }
  li:hover {
    background: #000b0e;
    cursor: pointer; }
  li.clickedProject {
    flex: 5;
    background: white;
    cursor: default; }
    li.clickedProject h2 {
      color: #012a36; }
    li.clickedProject .project-content {
      flex: 4;
      flex-direction: column;
      opacity: 1;
      transform: scaleX(1);
      color: #012a36;
      margin: 0; }
    li.clickedProject .project-title {
      color: #012a36; }
      li.clickedProject .project-title h2 {
        color: #012a36; }
  li .project-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white; }
    li .project-title h2 {
      margin: 0;
      transform: rotate(-90deg);
      white-space: nowrap;
      color: white; }
  li .project-content {
    flex: 1;
    display: flex;
    align-items: left;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 2.5s .1s ease-out; }

.project-image {
  width: 20vw;
  height: 12vw; }

.wrapper {
  margin: 3em 0; }

a, a:visited, a:hover, a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #8CC5D8;
  font-size: 3vh; }

a:hover {
  color: #012a36; }

a.before:before, a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

a.before:before {
  top: -0.25em; }

a.after:after {
  bottom: -0.25em; }

a.before:before, a.after:after {
  height: 5px;
  height: 0.1rvh;
  width: 0;
  background: #012a36; }

a.before:hover:before, a.after:hover:after {
  width: 100%; }

.square {
  box-sizing: border-box;
  margin-left: -0.4em;
  position: relative;
  font-size: 3vh;
  overflow: hidden; }

.square a {
  position: static;
  font-size: 100%;
  padding: 0.2em 0.4em; }

.square:before, .square:after {
  content: "";
  box-sizing: border-box;
  transition: 0.25s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 5px;
  width: 0.35rem;
  height: 0;
  background: #012a36; }

.square:before {
  left: 0;
  bottom: -0.2em; }

.square:after {
  right: 0;
  top: -0.2em; }

.square a:before {
  left: 0;
  transition: 0.25s all ease; }

.square a:after {
  right: 0;
  transition: 0.25s all ease; }

.square:hover:before, .square:hover:after {
  height: calc(100% + 0.4em); }

.square:hover a:before, .square:hover a:after {
  width: 100%; }

.resume {
  all: none; }

@media only screen and (min-width: 1000px) {
  /* Minor styling: larger image and fonts to match largest screen size */
  .link {
    padding: 1% 1%; }
  .icon-menu {
    font-size: 3.6vh; }
  .title-holder {
    top: 40vh;
    padding: 1vw 15vw;
    left: 15vw; }
  .title {
    font-size: 8vh; } }

/*# sourceMappingURL=main.css.map*/