@import 'colors';
@import 'buttons';

* {
  font-family: 'Voltaire', sans-serif;
  text-align: center; 
  color: $blue;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  padding: 1vw;
  &:hover{
    cursor: pointer;
    color:$blue;
    font-size: 20vh;
  }
}

td, th{
  padding: none;
  margin: none;
}

// navbar and app stuff 
.main-nav{
  top: 0vh;
  max-height: 5vw;
}

.link{
  top: 0vh;
  display: inline-block;
  color: $blue;
  padding: 0 5vw 0 5vw;
  max-height: 8vh; 
}

.active-link{
  color: $sky;
}
// home page stuff

// .title-holder{
//   position: absolute;
//   top: 45%;
//   padding: 1vw 1vw;
//   left: 0vh;
//   align-content: center;
//   background-color: white;
//   box-shadow: 0.1vw 0.5vw 0.5vw #888888;
// }


// .hero {
//   color:#FFF;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment:fixed;
//   padding: 25%;
//   z-index:0;
//   height: 25vh;
// }

.jumbotron{
  display: inline-block;
  border: 1px solid black;
  max-height: 25vw;
  margin: 1vw;
}

// //hero jumbotron
// #title {
//   font-family: 'Voltaire', sans-serif;
//   font-size: 4em;
//   font-weight: bold;
//   text-shadow: 3px 4px 4px black;
// }

// #subtitle {
//   font-family: 'Voltaire', sans-serif;
//   color:#FFF;
//   font-size:1.75em;
//   font-weight: bold;
//   text-shadow: 3px 4px 4px black;
//   margin-left: 5em;
// }

// .branding {
//   font-family: 'Voltaire', sans-serif;
//   color:#FFF;
//   font-size:1.75em;
//   font-weight: bold;
//   text-shadow: 3px 4px 4px black;
// }

#title-block{
  width: 65vw;
  height: 15vw;
  display: inline-block;
  //border: 1px solid black;
  background-color: $white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.title{
  font-size: 5vh;
  margin: 0vh;
  padding: 0vh;   
  color: $blue;
  z-index: 1;
}

.subtitle{
  width: 30vw;
  font-size: 5vh;
}

#menu-block{
  position: relative;
  display: inline-block;
  background-color: none;
//   display: block;
//   padding: 0;
  width: 25vw;
  height: 25vw;
  //border: 1px solid black;
//   position: absolute;
//   z-index: 1;
  border-radius: 100%;
  //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
//   overflow: hidden;
//   background-color: $black;
}

// #menu-row{
//    //display: inline-block
//    border: 1px solid black;
//    padding-right: 5vw 0vw 5vw 5vw;

// }

.section-block{
  position: absolute;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  z-index: 2;
  margin: 1vh 0vh 1vh 1vh; 
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  &:hover{
    background: darken($blue, 3);
    color: black;
    //transition:height 0.5s;
    width:12vw;
    height: 12vw;
  }
}

.active-section{
  width: 12vw;
  height: 12vw;
}

.section-label{
  font-size: 4vh;
  color: $white;
  position: relative;
}

#projects-block{
  background-color: $pink;
  border-radius: 0 100% 0 0;
  bottom: 12vw;
  left: 12.75vw;
  &:hover{
    background: darken($pink, 5%);
  }
}
#projects-section-label{
  color: $blue;
  padding-top: 15vh;
}

#bio-block{
  background-color: $blue;
  bottom: 12vw;
  right: 12vw;
  border-radius: 100% 0 0 0; 
  &:hover{
    background: darken($blue, 5%);

    //transform:translateX(-50%);
  }
}

#bio-section-label{
  color: $white;
  padding-top: 15vh;
}

#resume-block{
  background-color: $green;
  border-radius: 0 0 100% 0; 
  top: 12.5vw;
  left: 12.75vw;
  &:hover{
    background: darken($green, 5%);
  }
}

#resume-section-label{
  color: $white;
}

#contact-block{
  background-color: $sky;
  border-radius: 0 0 0 100%;
  top: 12.5vw;
  right: 12vw;
  &:hover{
    background: darken($sky, 5%);
    width: 12vw;
    height: 12vw;
  }
}

#contact-section-label{
  color: $blue;
}

//featured project
.featured-project{
  width: 80vw;
  box-shadow: 1vw 0.1vw 1vw #888888;
  margin: 0vw 10vw;
}

.featured-project-image{
  width: 60vw;
  height: 30vw;
}


//project galleries

// .project{
//   width: 28vw;
//   box-shadow: 1vw 0.1vw 1vw #888888;
//   margin: 2vw;
//   display: inline-block;
//   z-index: -1;
//   position: inherit; 
// }

// .clickedProject{
//   width: 50vw;
//   box-shadow: 1vw 0.1vw 1vw #888888;
//   margin: 2vw;
//   display: inline-block;
//   z-index: 1;
//   position: absolute;
//   opacity: 1;
//   fill-opacity: 1;
// }

.project-text{
  text-align: left;
  margin: 1.5 vh;
}


ul {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

li {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 20px;
  background:$blue;
  transition: all 2.5s ease;
  &:hover {
    background: darken($blue, 8);
    cursor: pointer;
  }
  &.clickedProject {
    flex: 5;
    background: white;
    cursor: default;
    h2 {
      color:$blue;
    }
    .project-content {
      flex: 4;
      flex-direction: column;
      //width: 40vw;
      opacity: 1;
      transform: scaleX(1);
      color: $blue;
      margin: 0;
    }
    .project-title{
      color: $blue;  
      h2 {
      color: $blue;
    }
    }
  }
  
  .project-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    h2 {
      margin: 0;
      transform: rotate(-90deg);
      white-space: nowrap;
      color: white;
    }
  }

  .project-content {
    flex: 1;
    display: flex;
    align-items: left;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 2.5s .1s ease-out;
  }
}

.project-image{
  width: 20vw;
  height: 12vw;
}

//gallery links
.wrapper{
  margin:3em 0;
}
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:$sky;
	font-size:3vh;
}
a:hover{
  color: $blue;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.1rvh;
  width:0;
  background:$blue;
}

a.before:hover:before,a.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:3vh;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:$blue;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square a:before{
  left:0;
  transition:0.25s all ease;
}
.square a:after{
  right:0;
  transition:0.25s all ease;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;
}

//resume

.resume{
  all: none;
}


@media only screen and (min-width: 1000px) {
  /* Minor styling: larger image and fonts to match largest screen size */
  .link{
  padding: 1% 1%;
}

.icon-menu {
  font-size: 3.6vh;
}

.title-holder{
  top: 40vh;
  padding: 1vw 15vw;
  left: 15vw;
}
.title{
  font-size: 8vh;
}

// .section-label{
//   font-size: 8vh;
// }

}

